% math_generator/template.tex.jinja2

\documentclass[a4paper, 10pt, xelatex, ja=standard]{bxjsarticle}
\usepackage{amsmath, amssymb}
\usepackage{enumitem}

% 問題番号を横に並べるための設定
{% raw %}
\setlength{\parindent}{0pt}
\newenvironment{questions}{%
    \begin{enumerate}[
        itemsep=0.8em,
        leftmargin=0pt,
        labelwidth=2.5em,
        labelsep=0.5em,
        resume
    ]
}{%
    \end{enumerate}
}
{% endraw %}

\begin{document}

\begin{center}
    \fontsize{20pt}{24pt}\selectfont \textbf{ {{ title }} }
\end{center}
\vspace{10pt}
\hrule
\vspace{10pt}

% --- 問題セクション ---
\section*{問題}
\begin{questions}
{% for p in problems %}
    \item ${{ p.a }}\mathrm{x}{{ '+' if p.b > 0 else '' }}{{ p.b if p.b != 0 else '' }} = {{ p.c }}$
{% endfor %}
\end{questions}

\newpage

% --- 解答セクション ---
\section*{解答}
\begin{enumerate}[
    itemsep=0.8em,
    leftmargin=0pt,
    labelwidth=2.5em,
    labelsep=0.5em
]
{% for p in problems %}
    \item $\mathrm{x}={{ p.x }}$
{% endfor %}
\end{enumerate}

\end{document}